@model IEnumerable<TaakModel>
@{
    ViewData["Title"] = "Taak overview";
}


<div class="text-center">
    <h1 class="display-4">Taak overview</h1>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.id)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.dateTime)
                </th>
                <th scope="col">
                    Uitgevoerd over overzichten
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.addedColumnsCount)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.removedColumnsCount)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.changesCount)
                </th>


            </thead>

            @foreach (TaakModel taak in Model)
            {
                <tr value="Details" onclick="location.href='@Url.Action("Details", "Home", new {}, null)'">
                    <th scope="row">
                        @taak.id
                    </th>
                    <td>
                        @taak.GetDateTimeString()
                    </td>
                    <td>
                        <ul>
                            @foreach (string overzicht in taak.GetOverzichten())
                            {
                                @overzicht
                                <br />
                            }
                        </ul>
                    </td>
                    <td>
                        @taak.addedColumnsCount
                    </td>
                    <td>
                        @taak.removedColumnsCount
                    </td>
                    <td>
                        @taak.changesCount
                    </td>

                </tr>
            }
        </table>

    </div>
</div>
