@using Analyseapp.Models.ViewModels
@using Analyseapp.Util
@model TestDetailViewModel

@{
    ViewData["Title"] = Model.testmodel.testNaam;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>
<h1>Details test</h1>

<div>
    <h4>@Model.testmodel.testNaam</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @if (Model.mainTest != null)
    {
        <a class="dropdown-item" href="@Url.Action("Details", "Home", new {testID = Model.mainTest})">Back to parent test</a>
    } 
</div>

<div class="btn-group">
    @*
        Datepicker
    *@
    @if (Model.uitvoertijdenAlleTesten.Count > 0)
        {
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"> @Model.testmodel.uitvoertijd.startDatum @Model.testmodel.uitvoertijd.startTijd </button>
            <ul class="dropdown-menu">
        
            @foreach (UitvoertijdModel item in Model.uitvoertijdenAlleTesten)
            {
                if (item.startDatum.Equals(new DateOnly(0001, 1, 1)))
                {
                    <li>
                        n/a
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("DetailsWithDate", "Home", new { date = item.startDatum, time = item.startTijd, testname = Model.testmodel.testNaam  }, null)"> @item.startDatum @item.startTijd</a>
                    </li>
                }
            }
            </ul>
        }
        else
        {
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"> n/a </button>
        }
</div>

<div class="btn-group">
    @*
        Subtests
    *@
    @if (Model.testmodel.subtest.Count > 0)
    {
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"> Subtests </button>
        <ul class="dropdown-menu">
            @foreach (TestModel item in Model.testmodel.subtest)
            {
                <li>
                    <a class="dropdown-item" href="@Url.Action("Details", "Home", new {testID = item.Id})">@item.testNaam</a>
                </li>
            }

        </ul>
    }
    else
    {
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"> No subtests available </button>

    }
</div>

<div>
    @*
        Data table 1
    *@
    <table class="table">
        <thead>
            <th scope="col">

            </th>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    Testnaam
                </th>
                <td>
                    @Model.testmodel.testNaam
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Testbeschrijving
                </th>
                <td>
                    @Model.testmodel.testBeschrijving
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Programma
                </th>
                <td>
                    @Model.testmodel.programma.programma (@Model.testmodel.programma.progVersie)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Is in development
                </th>
                <td>
                    @if (Model.testmodel.programma.isInDevelopment)
                    {
                        <i>Ja</i>
                    }
                    else
                    {
                        <i>Nee</i>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Aantal keer uitgevoerd (laatste 7 dagen)
                </th>
                <td>
                    @Model.kerenUitgevoerd
                </td>
                @if (Model.trendModel.testVerschilKerenUitgevoerd > 0)
                {
                    <td class="table-success">+ @Model.trendModel.testVerschilKerenUitgevoerd</td>
                }
                else if (Model.trendModel.testVerschilKerenUitgevoerd < 0)
                {
                    <td class="table-danger">@Model.trendModel.testVerschilKerenUitgevoerd</td>
                }
                else
                {
                    <td class="table-warning">~ @Model.trendModel.testVerschilKerenUitgevoerd</td>
                }
            </tr>
            <tr>
                <th scope="row">
                    Slagingskans (laatste 7 dagen)
                </th>
                <td>
                    @Model.slagingspercentage %
                </td>
                @if (Model.trendModel.testVerschilSlagingskans > 0)
                {
                    <td class="table-success">+ @Model.trendModel.testVerschilSlagingskans</td>
                }
                else if (Model.trendModel.testVerschilSlagingskans < 0)
                {
                    <td class="table-danger">@Model.trendModel.testVerschilSlagingskans</td>
                }
                else
                {
                    <td class="table-warning">~ @Model.trendModel.testVerschilSlagingskans</td>
                }
        </tr>
        </tbody>
    </table>
</div>
<div>
    @*
        Data table 2
    *@
    <table class="table">
        <thead>
        <th scope="col">

        </th>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    Uitgevoerd op
                </th>
                @if (Model.testmodel.uitvoertijd.startDatum.Equals(new DateOnly(0001, 1, 1)) && Model.testmodel.uitvoertijd.startTijd.Equals(new TimeOnly(0, 0, 0)))
                {
                    <td>
                        n/a
                    </td>
                }
                else
                {
                    <td>
                        @Model.testmodel.uitvoertijd.startDatum @Model.testmodel.uitvoertijd.startTijd
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">
                    Beëindigd op
                </th>
                @if (Model.testmodel.uitvoertijd.eindDatum.Equals(new DateOnly(0001, 1, 1)) && Model.testmodel.uitvoertijd.eindTijd.Equals(new TimeOnly(0, 0, 0)))
                {
                    <td>
                        n/a
                    </td>
                }
                else
                {
                    <td>
                        @Model.testmodel.uitvoertijd.eindDatum @Model.testmodel.uitvoertijd.eindTijd
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">
                    Uitkomst
                </th>
                @if (Model.testmodel.slagingsUitkomst.Equals(SlagingsUitkomst.Geslaagd))
                {
                    <td class="table-success">
                        @Model.testmodel.slagingsUitkomst
                    </td>
                }
                else if (Model.testmodel.slagingsUitkomst.Equals(SlagingsUitkomst.Gefaald))
                {
                    <td class="table-danger">
                        @Model.testmodel.slagingsUitkomst
                    </td>
                }
                else
                {
                    <td class="table-warning">
                        @Model.testmodel.slagingsUitkomst
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">
                    Totale uitvoertijd
                </th>
                @if (Model.testmodel.uitvoertijd.totUitvoertijd.Equals(new TimeSpan(0, 0, 0)))
                {
                    <td>
                        n/a
                    </td>
                }
                else
                {
                    <td>
                        @Model.testmodel.uitvoertijd.totUitvoertijd
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">
                    Gemiddelde uitvoertijd (laatste 7 dagen)
                </th>
                <td>
                    @Model.gemUitvoertijd
                </td>

                @if (Model.gemUitvoertijd.Subtract(Model.trendModel.testVerschilGemUitvoertijden).CompareTo(new TimeSpan(0, 0, 0)) > 0)
                {
                    <td class="table-danger">+ @Model.trendModel.testVerschilGemUitvoertijden</td>
                }
                else if (Model.gemUitvoertijd.Subtract(Model.trendModel.testVerschilGemUitvoertijden).CompareTo(new TimeSpan(0, 0, 0)) < 0)
                {

                    <td class="table-success">- @Model.trendModel.testVerschilGemUitvoertijden</td>
                }
                else if (Model.gemUitvoertijd.Subtract(Model.trendModel.testVerschilGemUitvoertijden).CompareTo(new TimeSpan(0, 0, 0)) == 0)
                {
                    <td class="table-warning">~ @Model.trendModel.testVerschilGemUitvoertijden</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div>
    <dl class="row">
    </dl>
    <hr/>

</div>






