@model IEnumerable<TestModel>
@using Analyseapp.Util
@{
    ViewData["Title"] = "Test Overview";
    
}

<div class="text-center">
    <h1 class="display-4">Test overview page</h1>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <th scope ="col">
                    @Html.DisplayNameFor(Model => Model.testNaam)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.testBeschrijving)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programma)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programma.progVersie)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.slagingsUitkomst)
                </th>
                <th scope="col">
                    Laatste keer uitgevoerd
                </th>
            </thead>
            @foreach (TestModel item in Model)
            {
                <tr value="Details" onclick="location.href='@Url.Action("Details", "Home", new { testID = item.Id, date = item.uitvoertijd.startDatum, time = item.uitvoertijd.startTijd }, null)'">
                    <th scope="row">
                        @item.testNaam
                    </th>
                    <td>
                        @item.testBeschrijving
                    </td>
                    <td>
                        @item.programma.programma
                    </td>
                    <td>
                        @item.programma.progVersie
                    </td>
                    @if (item.slagingsUitkomst.Equals(SlagingsUitkomst.Geslaagd))
                    {
                        <td class="table-success">
                            @item.slagingsUitkomst
                        </td>
                    }
                    else if (item.slagingsUitkomst.Equals(SlagingsUitkomst.Gefaald))
                    {
                        <td class="table-danger">
                            @item.slagingsUitkomst
                        </td>
                    }
                    else
                    {
                        <td class="table-warning">
                            @item.slagingsUitkomst
                        </td>
                    }

                    @if (item.uitvoertijd.startDatum.Equals(new DateOnly(0001,1,1)))
                    {
                        <td>
                            n/a
                        </td>
                    } else
                    {
                        <td>
                            @item.uitvoertijd.startDatum
                        </td>
                    }

                </tr>
                @if (item.subtest.Count > 0)
                {
                    <tr>
                        <td colspan="4">
                            <table class="table table-striped table-hover caption-top mb-0">
                                <caption>Subtests</caption>
                                <thead>
                                    <th scope="col">
                                            @Html.DisplayNameFor(Model => Model.testNaam)
                                    </th>
                                    <th scope="col">
                                            @Html.DisplayNameFor(Model => Model.slagingsUitkomst)
                                    </th>
                                </thead>

                                    @foreach (TestModel subtest in item.subtest)
                                    {
                                    <tr value="Details" onclick="location.href='@Url.Action("Details", "Home", new { testID = subtest.Id, date = subtest.uitvoertijd.startDatum, time = subtest.uitvoertijd.startTijd }, null)'">
                                        <th scope="row">
                                                @subtest.testNaam
                                            </th>
                                            @if (subtest.slagingsUitkomst.Equals(SlagingsUitkomst.Geslaagd))
                                            {
                                                <td class="table-success">
                                                    @subtest.slagingsUitkomst
                                                </td>
                                            }
                                            else if (subtest.slagingsUitkomst.Equals(SlagingsUitkomst.Gefaald))
                                            {
                                                <td class="table-danger">
                                                    @subtest.slagingsUitkomst
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="table-warning">
                                                    @subtest.slagingsUitkomst
                                                </td>
                                            }
                                        </tr>
                                    }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    </div> <br />


</div>
