@using Analyseapp.Models
@using Analyseapp.Models.ViewModels
@model RapportOverviewViewModel
@{
}

@if (Model.rapporten.Count > 0)
{
<div class="text-center">
    <h1 class="display-4">Rapport overview page</h1>
    <div>
        <table class="table table-striped table-hover">
            <thead>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.rapporten[0].rapportId)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.rapporten[0].programma.programma)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.rapporten[0].programma.progVersie)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.rapporten[0].testKerenUitgevoerd)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.rapporten[0].taakKerenUitgevoerd)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.rapporten[0].madeOn)
            </th>
            <tbody>
                    @foreach (RapportModel item in Model.rapporten)
                    {
                    <tr value="RapportDetail" onclick="location.href='@Url.Action("Rapport", "Home", new {rapportID = item.rapportId}, null)'">
                        <th scope="row">
                            Rapport #@item.rapportId
                        </th>
                        <td>
                            @item.programma.programma
                        </td>
                        <td>
                            @item.programma.progVersie
                        </td>
                        <td>
                            @item.testKerenUitgevoerd
                        </td>
                        <td>
                            @item.taakKerenUitgevoerd
                        </td>
                        <td>
                            @item.madeOn
                        </td>
                        
                    </tr>
                    }

            </tbody>
        </table>
    </div>
</div>
}
else
{
    <div>
        Geen rapporten gevonden
    </div>
}

<div class="text-center">
@if (Model.programmas.Count > 0)
{
    <h1 class="display-4">Programmas</h1>
    <div>
        <table class="table table-striped table-hover">
            <thead>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programmas[0].programma)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programmas[0].progVersie)
            </th>
            <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programmas[0].isInDevelopment)
            </th>
            <tbody>
                    @foreach (ProgrammaModel item in Model.programmas)
                    {
                    <tr>
                        <td>
                                @item.programma
                        </td>
                        <td>
                                @item.progVersie
                        </td>
                        <td>
                                @item.isInDevelopment
                        </td>
                        <td>
                            @if (!Model.CheckIfRapportContains(item))
                            {
                                <button value="MaakRapport" onclick="location.href='@Url.Action("MaakRapport", "Home", new {programmaid = item.programmaID}, null)'">Maak rapport van vandaag</button>
                            }
                                
                        </td>

                    </tr>
                    }

            </tbody>
        </table>
    </div>

}
else
{
    <div>
        Geen programmas gevonden
    </div>
}
</div>
