@using Analyseapp.Models
@using Analyseapp.Util
@model IEnumerable<TaakModel>
@{
    ViewData["Title"] = "Taak Overview";

}
<div class="text-center">
    <h1 class="display-4">Taak overview page</h1>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.taakName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programma.programma)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.programma.progVersie)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(Model => Model.taakMessage)
                </th>
                <th scope="col">
                    Laatste keer uitgevoerd
                </th>
            </th>
            <tbody>
                @foreach (TaakModel item in Model)
                {
                    <tr value="TaakDetail" onclick="location.href='@Url.Action("TaakDetail", "Home", new {taakID = item.taakID}, null)'">
                        <th scope="row">
                            @item.taakName
                        </th>
                        <td>
                            @item.programma.programma
                        </td>
                        <td>
                            @item.programma.progVersie
                        </td>
                        @if (item.taakMessageNature.Equals(TaakResultNature.Good))
                        {
                            <td class="table-success">
                                @item.taakMessage
                            </td>
                        } else if(item.taakMessageNature.Equals(TaakResultNature.Bad))
                        {
                            <td class="table-danger">
                                @item.taakMessage
                            </td>
                        } else
                        {
                            <td class="table-warning">
                                @item.taakMessage
                            </td>
                        }
                        <td>
                            @item.uitvoertijd.startDatum
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
